---
layout: base.njk
title: CSS Posts
css: tipsntricks.css

pagination:
    data: collections.css
    size: 9
    alias: posts
---

<div class="content_wrapper">

	<aside class="sidebar">
		<div class="sidebar__contents">
			<p class="sidebar__title">Tags:</p>
			<a class="sidebar__item" href="/tipsNtricks/tags/html">HTML</a>
			<a class="sidebar__item" href="/tipsNtricks/tags/css">CSS</a>
			<a class="sidebar__item" href="/tipsNtricks/tags/js">JS</a>
			<a class="sidebar__item" href="/tipsNtricks/tags/hosting">Hosting</a>
		</div>
	</aside>

	<main>
		<h2 class="main__title">CSS Posts</h2>
		<div class="masonry">
			{% for post in posts %}
            <div class="masonry__item">
                <p class="post__title">{{ post.data.title }}</p>
                <p class="post__description">{{ post.data.description }}</p>
                <a class="post__link" href=" {{ post.url }} ">Read More <i class="fas fa-arrow-right"></i></a>
            </div>
            {% endfor %}
		</div>

{% if pagination.pages.length > 1 %}

        <ol class="pagination_list">
                <li class="pagination_prev pagination_bypage">{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}"><i class="fas fa-chevron-left"></i> Previous </a>{% else %} <i class="fas fa-chevron-left"></i> Previous{% endif %}</li>
                <li class="pagination_item" {% if page.url == pagination.href.first %} aria-current="page"{% endif %}><a href="{{ pagination.href.first }}" class="first">1</a></li>
            {%- for pageEntry in pagination.pages %}
                {%- if loop.index0 == pagination.pages.length - 1 or loop.index0 == 0%}
                    {% else %}
                    <li class="pagination_item" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}><a href="{{ pagination.hrefs[ loop.index0 ] }}">{{ loop.index }}</a></li>
                {%- endif %}
            {%- endfor %}
                <li class="pagination_item" {% if page.url == pagination.href.last %} aria-current="page"{% endif %}><a href="{{ pagination.href.last }}">{{ pagination.pages.length }}</a></li>
                <li class="pagination_next pagination_bypage">{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next <i class="fas fa-chevron-right"></i></a>{% else %}Next <i class="fas fa-chevron-right"></i>{% endif %}</li>
        </ol>

    {% endif %}
	</main>
</div>

<script src="/js/pagination.js"></script>
