@use 'includes/vars' as *;

.content_wrapper {
	max-width: $max_width;
	margin: 1.5em auto;
	display: flex;
}

h3 {
	margin: 1em 0;
}

.discord {
	&__text {
		color: var(--text_color);
	}

	&__link {
		color: inherit;
		text-decoration: none;
		border-bottom: 2px solid var(--purple);
	}
}

.contribute {
	&__text {
		color: rgb(37, 37, 37);
	}
}

.email {
	&__text {
		color: var(text_color);
	}

	&__link {
		color: inherit;
		text-decoration: none;
		border-bottom: 2px solid var(--purple);
	}
}
