@use 'includes/vars' as *;

.content_wrapper {
	padding: 1em;
}

svg {
	display: block;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.svg__text {
	path {
		fill: black;
	}
}

.mode_toggle__check:checked ~ .main_wrapper .svg__text path {
	fill: white;
}

.icon_container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 1em;

	&__icon {
		text-align: center;
	}

	&__icon i {
		font-size: 5em;
	}
}

.tagline {
	color: var(--black);
	text-align: center;
	font-weight: normal;
	font-size: 1.5em;
}

.html5-icon {
	color: #e34c26;
}

.css3-icon {
	color: #264de4;
}

.js-icon {
	color: #f0db4f;
}

.section--resources {
	background: var(--pink);
	color: white;
}

.section--tipsntricks {
	background: var(--orange);
	color: white;
}

.section-contact {
	background: var(--purple);
	color: white;
}

.section_heading {
	text-align: center;
	margin-bottom: 0.5em;
}

.content_wrapper {
	margin: 0 auto;
	max-width: $max_width;
}

.view_btn {
	background: var(--blue);
	display: inline-block;
	padding: 0.5em 1em;
	border-radius: 100px;
	color: var(--white);
	margin: 1em 0;
}

.view_btn__link {
	text-decoration: none;
	color: white;
}
