@use 'includes/vars' as *;

html {
	font-family: sans-serif;
	font-size: 62.5%;
}

body {
	background-color: var(--bg_color);
	font-size: 1.5em;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}


@media only screen and (min-width: $breakpoint_mobile) {
	body {
		font-size: 1.7em;
	}
}

@media only screen and (min-width: $breakpoint_tablet) {
	body {
		font-size: 2.2em;
	}
}

nav {
	background: var(--gray);
	display: flex;
}

.nav_list {
	display: flex;
	list-style: none;
	flex-grow: 1;
	margin: 0;
	padding: 0 1em;

	&__link {
		color: var(--white);
		text-decoration: none;
		border-bottom: 2px solid var(--white);


		&:hover {
			border-width: 4px;
		}

		&--resources:hover {
			border-color: var(--pink);
		}

		&--tipsntricks:hover {
			border-color: var(--orange);
		}

		&--contact:hover {
			border-color: var(--purple);
		}

		&--resources--active {
			border-bottom: 4px solid var(--pink);
		}

		&--tipsntricks--active {
			border-bottom: 4px solid var(--orange);
		}

		&--contact--active {
			border-bottom: 4px solid var(--purple);
		}


		&--search{
			border: none;
		}
	}

	&__li {
		margin: auto 15px;

		&--logo {
			margin: 0;
			max-height: 50px;
			max-width: 200px;
			border-bottom: none;
		}

		&--first {
			margin-left: auto;
		}

		&--first > * + * {
			margin-left: 1em;
		}
}

}

footer {
	background: var(--gray);
	text-align: center;
	margin-top: auto;
}

.footer_list {
	display: flex;
	list-style-type: none;
	margin: 0 0;
	padding: 1em 0;

	&__li {
		margin: 0 15px;

		&--home {
			margin-left: auto;
		}

		&--contact {
			margin-right: auto;
		}
	}

	&__link {
		color: var(--white);
		text-decoration: none;
		border-bottom: 2px solid white;

		&:hover {
			border-width: 4px;
		}

		&--home:hover {
			border-color: var(--blue);
		}

		&--resources:hover {
			border-color: var(--pink);
		}

		&--tipsntricks:hover {
			border-color: var(--orange);
		}

		&--contact:hover {
			border-color: var(--purple);
		}
	}
}

.github a {
	color: var(--white);
}

.legal {
	padding: 1em 0;
	color: var(--white);
}
