@use 'includes/vars' as *;

.content_wrapper {
	max-width: $max_width;
	margin: 1em auto;
	padding: 1em;
	display: flex;
}

@media only screen and (max-width: $breakpoint_tablet) {
	.content_wrapper {
		flex-direction: column;
	}
}

aside {
	flex-shrink: 1;
}

.sidebar {
	margin: 2em 1em;
	min-width: 200px;

	&__contents {
		position: sticky;
		top: 1em;
		border: 1px solid var(--black);
		padding: 0.5em;
		overflow: hidden;
		color: var(--black);
	}

	&__title {
		color: var(--black);
	}

	&__item {
		background: var(--bg_color);
		display: inline;
		padding: 0 0.5em;
		border: 1px solid var(--black);
		border-radius: 5px;
		white-space: nowrap;
	}
}

main {
	flex: 1 0 75%;
}

.main__title {
	color: var(--black);
}

.masonry {
	column-count: 3;
	column-gap: 1em;

	&__item {
		display: inline-block;
		width: 100%;

		border: 1px solid var(--black);
		border-radius: 10px;
		margin-bottom: 0.5em;
		padding: 0.5em;
	}
}

@media only screen and (max-width: $breakpoint_tablet) {
	.masonry {
		column-count: 2;
	}
}

@media only screen and (max-width: $breakpoint_mobile) {
	.masonry {
		column-count: 1;
	}
}

.post {
	&__title {
		font-weight: 700;
		color: var(--black);
	}

	&__description {
		// color: rgb(37, 37, 37);
		color: var(--secondary_text);
	}

	&__link {
		color: var(--black);
		text-decoration: none;
		border-bottom: 2px solid var(--orange);
	}
}
