---
layout: base.njk
title: Contact
css: contact.css
---

<div class="content_wrapper">
	<main>
		<h1 class="main__title">Contact Me</h1>
		<section class="discord">
			<h2 class="discord__title">Discord</h2>
			<p class="discord__text">
				The best place to reach me is the community discord. You can
				join with this
				<a
					href="https://discord.gg/wks8S8vn4T"
					target="_blank"
					rel="noopener"
					class="discord__link"
					>invite link</a
				>.
			</p>
		</section>
		<section class="contribute">
			<h2 class="contribute__title">Contributing</h2>
			<p class="contribute__text">
				If you would like to contribute tipsNtricks topic ideas or
				resources you can put it in the corresponding discord channel or
				email me bellow.
			</p>
		</section>
		<section class="email">
			<h2 class="email__title">Email</h2>
			<p class="email__text">
				If you need to email me you use or form bellow or use the
				address
				<a href="mailto:contact@bobsfriend12.ga" class="email__link"
					>contact@bobsfriend12.ga</a
				>.
			</p>
		</section>
	</main>
</div>
