---
layout: base.njk
title: Resources
css: resources.css
---

<aside>
</aside>
<main>

    <section class="section">
        <h2 class="section__title">Courses</h2>
        <ul class="section__list section__list--courses">
            {%-  for course in collections.course | alpha -%}
                <li class="section__item"><a class="section__item__link" href="{{ course.url }}">{{ course.data.title }}</a> - {{ course.data.description }}</li>
            {%- endfor -%}
        </ul>
    </section>

    <section class="section">
        <h2 class="section__title">Youtube Channels</h2>
        <ul class="section__list section__list--ytchannels">
            {%-  for ytchannel in collections.ytchannel | alpha -%}
                <li class="section__item"><a class="section__item__link" href="{{ ytchannel.url }}">{{ ytchannel.data.title }}</a> - {{ ytchannel.data.description }}</li>
            {%- endfor -%}
        </ul>
    </section>

    <section class="section">
        <h2 class="section__title">Blogs</h2>
        <ul class="section__list section__list--blogs">
            {%-  for blog in collections.blog | alpha -%}
                <li class="section__item"><a class="section__item__link" href="{{ blog.url }}">{{ blog.data.title }}</a> - {{ blog.data.description }}</li>
            {%- endfor -%}
        </ul>
    </section>
</main>