$breakpoint_mobile: 30em;
$breakpoint_tablet: 50em;
$max_width: 50em;

:root {
    --gray: #34312d;
    --blue: #3aafb9;
    --pink: #db2763;
    --orange: #ff8600;
    --purple: #6969b3;
    --white: white;
    --bg_color: #f9f9f9;
    --black: black;
}